<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Minha Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"color="light">
  <ion-searchbar placeholder="Pesquisar Filme"></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w1280/u9QD9ddSVeYJABMSqBwfqe0NmsJ.jpg" />
      </ion-thumbnail>
      <ion-label>Redenção</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
